/* body section*/
body {
    background-color: #021825;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* header section*/
header {
   background-color: #1877f2; 
    color: #fff;
    padding: 20px;
    text-align: center;
    transition: background 1.5s ease;
}
#date{
    text-align: left;
    color: yellow;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav ul li {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
header nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;

}
#dquiz{
    background-color: #4caf50;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.6s ease-in-out;
    font-size: 20px;
    font-weight: bold;
}
#dquiz:hover {
    background-color: #3e8e41;
    color: #fff;
}
header nav a:hover {
    background-color: #8bc34a;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.6s ease-in-out;
}
section {
    padding: 20px;
    margin-bottom: 0;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}
/* home section */
#home {
    position: relative;
    padding: 20px;
    display: flex;
    background-repeat: no-repeat;
    background-position:top;
    height: 450px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
}
#background-video{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit:cover;
z-index: -1;
object-position: 50% 35%;

}
#home h1, #home p, #home button {
    
    z-index: 1;
}
.mytext {
    font-size: 26px;
    color: rgb(217, 255, 0);
    font-family: cursive;
    font-weight: bold;
   line-height: 2em;
    align-self: flex-end;
    width: 550px;
    margin: 0;
}
.homeh {
    margin-top: 0;
    margin-bottom: 70px;
    font-family:serif;
    font-size: 46px;
    font-weight: bold;
    word-spacing: 0.5em;
    display: inline-block;
    background-color: rgba(0,0,0, 0.7);
    padding: 0 20px;
    border-radius: 5px;
    text-shadow: 3px 3px 5px green,
                6px 6px 10px blue;
}
.homebutton {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    align-self:flex-end;
    margin-top: 0;
    margin-right: 100px;
}
#home button:hover {
    background-color: #3e8e41;
}
.overlay-text{
    position: absolute;
    bottom: 2px;
    left: 20px;
    top: 60px;
    background-color: rgba(0,0,0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1;
    width: 40%;
    height: 73%;
    margin-top: 50px;
}
.overlay-text p {
    
    margin: 0;
}
.overlay-text h1 {
    margin: 0;
    font-size: 30px;
    font-family: serif;
    font-weight:700;
    margin: 0 0 10px 0;
    text-shadow: 0px 0px 10px rgba(0,0,0, 0.8);
}
.overlay-text button {
    background-color: rgb(0, 119, 255);
    padding: 11px 20px;
    border: none;
    color: white;
    border-radius:8px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 0 0 0;
    cursor: pointer;
}
/* about section */
#about {
background-color: #eee;
padding: 20px;
}
#about h1 {
    margin-top: 0;
}
.story, .testimonial {
    margin-top: 20px;
}
#about button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
#about button:hover {
    background-color: #3e8e41;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
    clear: both;
}
/*contact section */
#contact {
    background-color: #ffa723;
    padding: 20px;
    display: flexbox;
    width: 40%;
    margin-bottom: 0;
}
#contact h1 {
    margin-top: 0;
    text-align: center;
}
form {
    margin-top: 20px;
}
.form-group {
    margin-bottom: 20px;
}
input {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
textarea {
    height:150px ;
    width: 63%;
    margin: 10px 0 0 0;
}
.form-group label{
    display: block;
    margin-bottom: 2px;
}
button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 0;
}
button[type="submit"]:hover {
background-color: #3e8e41;

}
.image-school {
display: flex;
/*flex-direction: row;*/
/*justify-content: center;*/
background-color: rgba(30, 0, 0, 0.592);
overflow: hidden;
position: relative;
}
.image-school h1{
    display: inline;
    z-index: 1;
    text-align: center;
    position: absolute;
    left: 35%;
    text-transform: capitalize;
    font-family: sans-serif;
    color: #fff;
}
.image-school p{
    display: inline;
    z-index: 1;
    text-align: center;
    position: absolute;
    left: 10%;
    top: 20%;
    text-transform: capitalize;
    font-family: sans-serif;
    color: #fff;
}
.image-school button{
    z-index: 1;
    text-align: center;
    position: absolute;
    left: 43%;
    top: 35%;
    text-transform: capitalize;
    color: #fff;
    background-color: #b52740;
    border: none;
    padding: 1.5% 3%;
    font-size: 14px;
    border-radius: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 1s;
}
.image-school button:hover {
background-color: #4c0713;
}
.image-school img {
    max-width: 100%;
    max-height: 670px;
    z-index: -1;
}
.contact-container {
    display: flex;
   /* justify-content: space-between;*/
   /* align-items:stretch;*/
}
footer div, p {
    display: inline-block;
    margin: 0 50px 0 0;
    text-transform: capitalize;
}
#address-section{
    height: 250px;
    color: #fff;
   /* box-sizing: border-box;*/
    position: relative;
    width: 100%;
}
#address-section address{
    display: inline;
}
.emaila{
    color: #ffa723;
}
#address-section address p{
    margin: 1% 2%;
}
#address-section address ul{
    position: absolute;
    right: 20px;
    top: 0px;
    display: inline-block;
    margin-top: 0;
}
.social-icons{
    list-style: none;
}
.social-icons li{
margin: 20px 0;
}
.social-icons a{
    font-size: 28px;
    color: #1877f2;;
    transition: 0.7s ease;
    text-decoration: none;
}
.social-icons a:hover{
    color: #007bff;
}
.social-label a{
    color: #fff;
    font-style: normal;
    margin-left: 10px;
    font-size: 24px;
}
.school-map{
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    top: 0.5%;
    left: 41%;
    height: auto;
    text-align: center;
}
.school-map h1{
    display: inline-block;
    font-style: normal;
    margin: 0;
    text-transform: capitalize;
    color: #f5df12;
}
.school-map iframe{
   /* width: 40%;
    height: 10%;*/
    border-radius: 6px;
    display: block;
    width: 360px;
}
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    padding: 12px 24px;
    border-radius: 50px;
    font-size: 18px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-decoration: none;
    font-style: normal;
    font-weight:100;
}
.whatsapp{
    margin-left: 20px;
}
.main1{
    display: flex;
    /*justify-content: center;8?
   /* align-items: center;*/
    height: auto;
    background-color: rgba(255, 239, 11, 0.552);
    
}
.container{
    display: block;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin: 0;
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
    width: 40%;
}
.container h2{
    color: #4070f4;
    font-size: 2rem;
    margin: 0 auto;
    padding: 10px;
    text-transform: capitalize;
}
.review{
    background-color: #4070f4;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 0 15%;
    height: 480px;
}

.img-container{
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 0 auto;
}


.person-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #4070f4
}
.author{
    font-size: 1.5rem;
    color: #fff;
    text-transform: capitalize;
    margin: 10px 0;
    letter-spacing: 1px;
}
.job{
    background-color: #fff;
    padding: 10px 20px;
    color: #4070f4;
    font-weight: 900;
    font-family: serif;
    text-transform: capitalize;
    font-size: 1rem;
    margin: 10px 0;
    letter-spacing: 1px;
    border-radius: 5px;
}
.info{
    background-color: grey;
    padding: 10px 0;
    color: #fff;
    border-radius: 5px;
    margin: 0 auto;
}

.prev-btn, .next-btn{
    background-color: #4070f4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px 5px;
    cursor: pointer;
}
.random-btn{
    background-color: orange;
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    text-transform: capitalize;
    cursor: pointer;
}
.description1{
    margin-bottom: 10px;
    background-color: aquamarine;
    padding: 20px;
    position: relative;
    
}
.quote-icon1{
    float: left;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;

} 
.quote-icon{
    float: right;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.prime-checker{
    background-color: grey;
    padding: 15px;
    color: aliceblue;
    height: 50vh;
    border-radius: 5px;
    width: 60%;
}

.prime-h1{
    text-transform: capitalize;
}
.prime-p{
    line-height: 1.5;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
#prime{
    height: 20px;
    width: 112px;
    padding: 5px;
    font-size: 12px;
}
.prime-btn{
    padding: 9px 20px;
    background-color: greenyellow;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 1s ease;
}
.prime-btn:hover{
    background-color: rgb(149, 199, 80);
    color: white;
}
#loop{
    color: aqua;
    font-size: 18px;
}



/*loading="lazy" referrerpolicy="no-referrer-when-downgrade"*/

@media (min-width:300px) and (max-width: 1000px) {
   
   #display-screen{
    display: none;
   }
   footer{
    display: none;
   }

    .image-school img {
        display: none
    }
    header {
        display: none;
    }
    video {display: none;}
    .overlay-text{
        display: none;
    }
}